<%= render 'shared/content_title', title: "#{@user.username.titleize}'s To Do List" %>

<div id="no-tasks">
  <% if @user.tasks.empty? %>
    <%= render "tasks/no_tasks" %>
  <% end %>
</div>

<% @tasks.each do |task| %>
  <%= render 'tasks/task', task: task %>
<% end %>