/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body { 
    padding-top: 65px; 
}

.brand {
  font-size: 36px;
  margin-left: 10px;
}

.submit-btn {
  padding: 0;
}

p.color-text {
  color: #19BF96;
  margin-bottom: 5px;
  font-size: 1.1em;
}

.logo-color {
  color: #19BF96;
  font-weight: bold;
  width: 40%;
}

a.brand:hover { 
  background-color: #D9FFF8 !important; 
  color: #E60000;
  text-decoration: none;
}

#punctuation-color {
  color: orange;
}

.btn-success {
    background: #19BF96;
}
 
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background: #149978;
}

.well-sm {
  vertical-align: middle
}


.navbar-inner {
  background-color: #D9FFF8;
}

div#navbar {
  background-color: #D9FFF8;
}

.navbar-toggle {
  background-color: #19BF96;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #D9FFF8;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #19BF96;
}

.navbar-default .navbar-nav > li > a {
  color: #19BF96;
  font-size: 1.3em;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #8CDFCA;
    color: #FFF;
}

.give-space {
  margin-right: 10px;
}

.alert-success {
  background-color: #8CDFCA;
  color: #fff;
}

#red {
  color: #FF0000;
}

#orange {
  color: #FF9900;
}

#green {
  color: #00CC00;
}

.black {
  color: #333300;
  margin: 0;
}
